name: Deploy to production environment
on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  deployment:
    runs-on: ubuntu-latest
    environment: production
    steps:
      - uses: actions/checkout@v2

      - name: Install SSH key
        uses: shimataro/ssh-key-action@v2
        with:
          key: ${{ secrets.PRODUCTION_PRIVATE_KEY }}
          known_hosts: ${{ secrets.PRODUCTION_HOST }}

      - name: Add known host
        run: ssh-keyscan -H ${{ secrets.PRODUCTION_HOST }} >> ~/.ssh/known_hosts

      - name: Stop gunicorn
        run: |
          ssh root@${{ secrets.PRODUCTION_HOST }} "systemctl stop replay_gunicorn"

      - name: Copy files
        run: |
          rsync -ra --delete replay/* root@${{ secrets.PRODUCTION_HOST }}:/var/apps/replay/replay
          rsync -ra manage.py root@${{ secrets.PRODUCTION_HOST }}:/var/apps/replay/manage.py
          rsync -ra requirements.txt root@${{ secrets.PRODUCTION_HOST }}:/var/apps/replay/requirements.txt

      - name: Install packages
        run: ssh root@${{ secrets.PRODUCTION_HOST }} "cd var/apps/replay && source var/apps/replay/bin/activate && pip install -r requirements.txt"

      - name: Migrate database
        run: ssh root@${{ secrets.PRODUCTION_HOST }} "cd var/apps/replay && source var/apps/replay/.env && python manage.py migrate && python manage.py buildwatson"

      - name: Collect static files
        run: |
          ssh root@${{ secrets.PRODUCTION_HOST }} "cd var/apps/replay && source var/apps/replay/.env && python manage.py collectstatic --noinput"
          ssh root@${{ secrets.PRODUCTION_HOST }} "chown -R django:www-data /mnt/volume_lon1_10/replay/static/*"
          ssh root@${{ secrets.PRODUCTION_HOST }} "chmod -R 775 /mnt/volume_lon1_10/replay/static/*"

      - name: Start gunicorn
        run: |
          ssh root@${{ secrets.PRODUCTION_HOST }} "systemctl start replay_gunicorn"
